.container2{
  display: flex;
  align-items: center;
  justify-content:start;
  padding-left: 100px;
  background-color:white;
}

img{
    height: 500px;
    width: 400px;
}

button{
    background-color: orangered;
    opacity: 1;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    border:2px solid black
}

.container1{
  padding-left: 80px;
}

H1{
  font-weight: 900;
  font-size: 35px;
  font-family:sans-serif;
}

a{
  text-decoration: none;
  color: white;
}